# samsung_PoC-AWS_MEM
AWS/department/memory/.terraform
AWS/department/memory/.terraform.lock.hcl
AWS/department/memory/terraform.tfstate
AWS/department/memory/terraform.tfstate.backup

# samsung_PoC-AWS_Foundry
AWS/department/foundry/.terraform
AWS/department/foundry/.terraform.lock.hcl
AWS/department/foundry/terraform.tfstate
AWS/department/foundry/terraform.tfstate.backup

# samsung_PoC-Azure_MEM
Azure/department/memory/.terraform
Azure/department/memory/.terraform.lock.hcl
Azure/department/memory/terraform.tfstate
Azure/department/memory/terraform.tfstate.backup
Azure/department/memory/secret.tf

# backend
backend/.terraform
backend/.terraform.lock.hcl
backend/terraform.tfstate
backend/terraform.tfstate.backup
